@import './src/assets/variables';

.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(246, 202, 202, 1) 0%,
    rgba(95, 180, 156, 1) 100%
  );
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}
